@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

a {color:#ff4000;text-decoration:none}
a:hover {text-decoration:underline}
body {font-family:'Nunito','Arial','Helvetica';font-size:15px;color:#a0a0a0;margin:0px}

h1,h2,h3,h4,h5,h6 {font-weight:normal;color:#406080}

.contentzone {margin:0 auto;padding:20px;max-width:1000px;box-sizing:border-box;padding:20px}